/*
	saturate(kolor, proc)	- zwiększa nasycenie
	desaturate(kolor, proc)	- zmniejsza nasycenie
	lighten(kolor, proc)	- rozjaśnia
	darken(kolor, proc)		- przyciemnia
	fadein(kolor, proc)		- zmniejsza przezroczystość / zwiększa krycie
	fadeout(kolor, proc)	- zwiększa przezroczystość / zmniejsza krycie
	fade(kolor, proc)		- nakłada przeźroczystość / krycie
	tint(kolor, proc)		- balans bieli (zwiększa proporcje bieli)
	shade(kolor, proc)		- odwrotność tint (zwiększa proporcje czerni)	
	greyscale(kolor)		- skala szarości	
*/
body {
  padding: 0px;
  margin: 0px;
}
div {
  position: absolute;
  width: 100%;
}
.first {
  height: 100%;
}
.second {
  height: 20px;
}
#p30 {
  top: 580px;
  background-color: #ffffff;
}
#p29 {
  top: 560px;
  background-color: #ffffff;
}
#p28 {
  top: 540px;
  background-color: #ffffff;
}
#p27 {
  top: 520px;
  background-color: #ffffff;
}
#p26 {
  top: 500px;
  background-color: #ffffff;
}
#p25 {
  top: 480px;
  background-color: #ffffff;
}
#p24 {
  top: 460px;
  background-color: #ffffff;
}
#p23 {
  top: 440px;
  background-color: #ffffff;
}
#p22 {
  top: 420px;
  background-color: #ffffff;
}
#p21 {
  top: 400px;
  background-color: #ffffff;
}
#p20 {
  top: 380px;
  background-color: #ffffff;
}
#p19 {
  top: 360px;
  background-color: rgba(250, 254, 245, 0.995);
}
#p18 {
  top: 340px;
  background-color: rgba(244, 254, 235, 0.99);
}
#p17 {
  top: 320px;
  background-color: rgba(239, 253, 224, 0.985);
}
#p16 {
  top: 300px;
  background-color: rgba(233, 253, 214, 0.98);
}
#p15 {
  top: 280px;
  background-color: rgba(228, 252, 203, 0.975);
}
#p14 {
  top: 260px;
  background-color: rgba(222, 252, 192, 0.97);
}
#p13 {
  top: 240px;
  background-color: rgba(216, 251, 181, 0.965);
}
#p12 {
  top: 220px;
  background-color: rgba(210, 251, 169, 0.96);
}
#p11 {
  top: 200px;
  background-color: rgba(204, 250, 158, 0.955);
}
#p10 {
  top: 180px;
  background-color: rgba(198, 249, 146, 0.95);
}
#p9 {
  top: 160px;
  background-color: rgba(191, 249, 134, 0.945);
}
#p8 {
  top: 140px;
  background-color: rgba(185, 248, 122, 0.94);
}
#p7 {
  top: 120px;
  background-color: rgba(178, 247, 109, 0.935);
}
#p6 {
  top: 100px;
  background-color: rgba(171, 247, 96, 0.93);
}
#p5 {
  top: 80px;
  background-color: rgba(164, 246, 83, 0.925);
}
#p4 {
  top: 60px;
  background-color: rgba(157, 245, 69, 0.92);
}
#p3 {
  top: 40px;
  background-color: rgba(150, 245, 56, 0.915);
}
#p2 {
  top: 20px;
  background-color: rgba(143, 244, 42, 0.91);
}
#p1 {
  top: 0px;
  background-color: rgba(135, 243, 27, 0.905);
}
