$hyperlink1: "Jan Kobuszewski";
$hyperlink2: "Muniek Staszczyk";
$hyperlink3: "Kazik Staszewski";
$hyperlink4: "Jan Oborniak";
$hyperlink5: "Kubuś Puchatek";

$hyp-more: "Pokaż więcej";

body {
	font-family: 'Verdana';
}


#hyp1 {
	&:after {
		content: $hyperlink1;
	}
}

#hyp2 {
	&:after {
		content: $hyperlink2;
	}
}

#hyp3 {
	&:after {
		content: $hyperlink3;
	}
}

#hyp4 {
	&:after {
		content: $hyperlink4;
	}
}

#hyp5 {
	&:after {
		content: $hyperlink5;
	}
}

.more {
	&:after {
		content: $hyp-more;
	}	
}

section {
	.hyperlinks {
		p {
			a {
				color: #222;
				text-decoration: none;
				font-weight: normal;
				&:hover {
					color: #555;
				}
			}
		}
	}

	a {
		color: #006e00;
		text-decoration: none;
		font-weight: bold;
		&:hover {
			color: #00a000;
		}
	}
}