// Tak było w LESS

/*

Operatory relacji:  >, >=, =, =<, <

Słowa kluczowe:
true
false

, czyli OR (||) - suma logiczna
and czyli AND (&&) - iloczyn logiczny
not czyli NOT (!) - negacja


@a: 6;
.mixin(@value; @color: blue) when (@value=6){
	background-color: @color;
}
.mixin(@value; @color: blue) when (default()){
	border: 3px solid @color;
}

div {
	width: 200px;
	height: 200px;
	border: 1px solid black;	
	.mixin(@a);	
}

*/

// --------------------------------------------------------- 


// SASS: 
/*

Operatory relacji:  >, >=, <, <=, ==, !=

Wartości logiczne: true, false

Operatory logiczne: and, or, not

*/

$a: 10;
$b: 201;

@function getColor($par1, $par2){
	@if($par1 == 10 and $par2 == 20){
		@return green;
	}@else if($par1 == 30){
		@return yellow;
	}@else{
		@return red;
	}
}

div {
	width: 200px;
	height: 200px;
	//background-color: getColor($a, $b);
	//background-color: if($a > $b, green, red); // wyrażenie ? jeśli prawda : jeśli fałsz
	background-color: yellow;

	@if($a == 10 and $b == 20){
		border: 1px solid black;
	}@else{
		margin: 50px;
	}

}

