// SASS:
/*
Operatory relacji:  >, >=, <, <=, ==, !=

Wartości logiczne: true, false

Operatory logiczne: and, or, not
*/

$a: 10;
$b: 20;

@function getColor($par1, $par2) {
  @if ($par1==10 and $par2==10) {
    @return green;
  } @else if ($par1==12) {
    @return yellow;
  } @else {
    @return red;
  }
}

div {
  width: 100px;
  height: 100px;
  background-color: getColor($a, $b);
}

div {
  width: 100px;
  height: 100px;
  background-color: if($a<$b, pink, blue);
}

div {
  width: 100px;
  height: 100px;
  background-color: yellow;
  @if ($a==10) {
    border: 1px solid black;
  } @else {
    margin: 100px;
  }
}
