body {
  font-family: "Verdana";
}
section div.hyperlinks p a {
  color: #222;
  text-decoration: none;
  font-weight: bold;
}
section div.hyperlinks p a:hover {
  color: #555;
}
section a {
  color: green;
  text-decoration: none;
  font-weight: bold;
}
section a:hover {
  color: darkmagenta;
}
