@mixin b-line {
	border-width: 5px;
	border-style: solid;
}

@mixin b-color ($color: #f0f, $bg-color: #0f0){

	border-color: $color;
	background-color: $bg-color;
}

@mixin margins ($par1: 1px 2px 3px 4px, $par2: 5px 6px 7px 8px){
		margin: $par1;
		padding: $par2;
}

@mixin shadow ($par...){
	box-shadow: $par;
}

div {
	@include b-line;
	@include margins();	
}


.level-1 {
	@include b-color();
}

.level-2 {
	@include b-color(#0ff);
}

.level-3 {
	@include b-color(blue, yellow);

	height: 200px;

	p {
		margin: 10px;

		span {
			padding: 5px;
			@include shadow(3px 3px 2px #222, 5px 5px 10px red, 10px 10px 20px blue);
		}
	}
}