.main-set,
.player-1,
.player-2 {
  width: 100px;
  height: 30px;
  border: none;
  color: white;
}
.player-1-start {
  background-color: red;
}
.player-1-stop {
  background-color: green;
}
.player-1-pause {
  background-color: blue;
}
.player-2-start {
  background-color: #555;
}
.player-2-stop {
  background-color: #222;
}
.player-2-pause {
  background-color: #999;
}
