// Pętla While

$colors: red, green, blue, yellow, #849920, rgb(111, 112, 113);

$i: 1;
@while $i <=length($colors) {
  #d#{$i} {
    background-color: nth($colors, $i);
  }
  $i: $i + 1;
}

div {
  width: 100%;
  height: 50px;
  // background-color: whitesmoke;
  border: 1px solid black;
}
