// SASS - pętla Each

// $colors: red, green, blue, yellow, #849920, rgb(111, 112, 113);

// $i: 1;
// @each $color in $colors {
//   #d#{$i} {
//     background-color: $color;
//   }
//   $i: $i + 1;
// }

// div {
//   width: 100%;
//   height: 50px;
//   background-color: nth($colors, 1);
//   border: 1px solid black;
// }

$i: 1;
@each $color, $border, $width, $height in (red, 1px, 30px, 20px), (green, 3px, 40px, 20px), (blue, 5px, 70px, 35px),
  (white, 7px, 90px, 35px), (yellow, 9px, 120px, 40px), (pink, 11px, 150px, 40px)
{
  #d#{$i} {
    background-color: $color;
    border: $border solid black;
    width: $width;
    height: $height;
  }

  $i: $i + 1;
}
