/*
.top .header h1 {
	color: #ff0000; // czerwony
}

.top .header p {
	color: #00ff00; // zielony
}

.top p {
	color: #0000ff; // niebieski
}


.bottom .header h1 { 
	color: #ffff00; // żółty
}

.bottom .header p {
	color: #00ffff; // błękitny
}

.bottom p {
	color: #ff00ff; // fioletowy
}
*/
.top .header h1 {
  color: #ff0000;
}
.top .header p {
  color: #00ff00;
}
.top p {
  color: #0000ff;
}
.bottom .header h1 {
  color: #ffff00;
}
.bottom .header p {
  color: #00ffff;
}
.bottom p {
  color: #ff00ff;
}
