$hyperlink1: "Odnośnik 1";
$hyperlink2: "Odnośnik 2";
$hyperlink3: "Odnośnik 3";
$hyperlink4: "Odnośnik 4";
$hyperlink5: "Odnośnik 5";

$hyp-more: "Pokaż więcej";

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#hyp1 {
  &:after {
    content: $hyperlink1;
  }
}
#hyp2 {
  &:after {
    content: $hyperlink2;
  }
}
#hyp3 {
  &:after {
    content: $hyperlink3;
  }
}
#hyp4 {
  &:after {
    content: $hyperlink4;
  }
}
#hyp5 {
  &:after {
    content: $hyperlink5;
  }
}
.more {
  &::after {
    content: $hyp-more;
  }
}

section {
  .hyperlinks {
    p {
      a {
        color: green;
        text-decoration: none;
        font-weight: normal;
        &:hover {
          color: darkgreen;
        }
      }
    }
  }
  a.more {
    color: #006e00;
    text-decoration: none;
    font-weight: bolder;
    &:hover {
      font-style: italic;
      color: #00a000;
    }
  }
}
