/*

Sprawdzanie typu

iscolor
isnumber
isstring
iskeyword
isurl

Sprawdzanie jednostek

ispixel
ispercentage
isem
isunit

*/
/*
//@variable: #001100;
//@variable: 5;
//@variable: 5px;
//@variable: "Jakiś tekst";
//@variable: ispixel;
//@variable: "http://adres.pl";
@variable: url('http://adres.pl');

// Zamiast truth może być inny ciąg znaków

.truth (@a) when (iscolor(@a)) {
	@result: 'Zmienna przechowuje kolor';
}

.truth (@a) when (isnumber(@a)) {
	@result: 'Zmienna przechowuje liczbę';
}

.truth (@a) when (isstring(@a)) {
	@result: 'Zmienna przechowuje ciąg znaków';
}

.truth (@a) when (iskeyword(@a)) {
	@result: 'Zmienna przechowuje słowo kluczowe';
}

.truth (@a) when (isurl(@a)) {
	@result: 'Zmienna przechowuje adres URL';
}

*/
/*
.truth (@a) when (isunit(@a, 'em')) {
	@result: 'em';
}
*/
p.value:after {
  content: '5em';
}
p.result:after {
  content: 'em';
}
