/*

http://sass-lang.com/documentation/Sass/Script/Functions.html

percentage($number)
round($number)
ceil($number)
floor($number)
abs($number)
min($numbers...)
max($numbers...)
random([$limit])

*/


$value: -1 * random();

#random:after {
	content: '#{$value}';
}

#percentage:after {
	content: '#{percentage($value)}';
}

#percentage:after {
	content: '#{percentage($value)}';
}

#round:after {
	content: '#{round($value)}';
}

#ceil:after {
	content: '#{ceil($value)}';
}

#floor:after {
	content: '#{floor($value)}';
}

#abs:after {
	content: '#{abs($value)}';
}

#min:after {
	content: '#{min($value, -0.2, -0.4, -0.6, -0.8)}';
}

#max:after {
	content: '#{max($value, -0.2, -0.4, -0.6, -0.8)}';
}